* {
    background-color:aliceblue;
    text-align: center;
    
}
img {
    border-radius: 20%;
    border: 10px;
    border-color:black;
    height: 400px;
    width: 400px;
}
h1 {
    border: 10px;
    border-style: outset;
    border-color: deeppink;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px;
    border-style: ridge;
    border-color: aquamarine;
   
    
}
ul {
    font-style: italic;
    font-size:25px;
    
}
p {
    font-family:cursive;
    font-size:15px
}
table,th,td{
    border:1px solid black;
    padding:2px;
    word-spacing: 2px;
}
:root {
    --bg: hsl(0, 100%, 10%);
    --color: black;
    --underline-width: 8px;
    --underline-block-width: 20px;
    --underline-color: coral;
    --underline-color-hover: powderblue;
    --underline-transition: 0.5s;
  }
  a {
    color: var(--color);
    text-decoration: none;
    background-image: linear-gradient(90deg, var(--bg), var(--bg)),
      linear-gradient(90deg, var(--underline-color), var(--underline-color));
    background-size: var(--underline-block-width) var(--underline-width),
      100% var(--underline-width);
    background-repeat: no-repeat;
    background-position-x: calc(var(--underline-block-width) * -1), 0;
    background-position-y: 100%;
    transition: background-position-x var(--underline-transition);
     font-size:25px;
  }
  
  a:hover {
    background-image: linear-gradient(90deg, var(--bg), var(--bg)),
      linear-gradient(
        90deg,
        var(--underline-color-hover),
        var(--underline-color-hover)
      );
    background-position-x: calc(100% + var(--underline-block-width)), 0;
  }
  
